{{- if .Values.server }}
{{- if ne (.Values.server.enabled | default true) false }}
{{- $nm := include "opal.serverName" . | quote }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $nm }}
  labels:
    {{- include "opal.serverLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.server.replicas }}
  selector:
    matchLabels:
      {{- include "opal.serverSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "opal.serverLabels" . | nindent 8 }}
    spec:
      {{- with .Values.image.server.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or .Values.openshift.enabled .Values.server.securityContext }}
      securityContext:
        {{- if .Values.server.securityContext }}
        {{- toYaml .Values.server.securityContext | nindent 8 }}
        {{- else if .Values.openshift.enabled }}
        {{- toYaml .Values.openshift.securityContext | nindent 8 }}
        {{- end }}
      {{- end }}
      {{- if .Values.e2e }}
      volumes:
        - name: e2e
          emptyDir: {}
        - name: policy-repo-data
          configMap:
            name: policy-repo-data
            defaultMode: 0755
      {{- else if .Values.openshift.enabled }}
      volumes:
        - name: jwks-dir
          emptyDir: {}
      {{- end }}

      {{- if .Values.e2e }}
      initContainers:
        - name: git-init
          image: {{ include "opal.serverImage" . | quote }}
          imagePullPolicy: IfNotPresent
          {{- if or .Values.openshift.enabled .Values.server.containerSecurityContext }}
          securityContext:
            {{- if .Values.server.containerSecurityContext }}
            {{- toYaml .Values.server.containerSecurityContext | nindent 12 }}
            {{- else if .Values.openshift.enabled }}
            {{- toYaml .Values.openshift.containerSecurityContext | nindent 12 }}
            {{- end }}
          {{- end }}
          volumeMounts:
            - mountPath: /opt/e2e
              name: e2e
            - mountPath: /opt/e2e/policy-repo-data
              name: policy-repo-data
              readOnly: true
          command:
            - '/bin/sh'
            - '-c'
            - |
              set -x
              set -e

              git init --bare /opt/e2e/policy-repo.git
              git clone /opt/e2e/policy-repo.git /opt/e2e/policy-repo-working
              cp /opt/e2e/policy-repo-data/*.* /opt/e2e/policy-repo-working
              cd /opt/e2e/policy-repo-working
              git config user.email "opal@opal.ac"
              git config user.name "Opal Bot"
              git add .
              git commit -am 'chore: initial'
              git push

              echo ">>>> HEAD: $(git rev-parse --short HEAD) <<<<"
      {{- end }}
      containers:
        - name: opal-server
          image: {{ include "opal.serverImage" . | quote }}
          imagePullPolicy: {{ .Values.server.imagePullPolicy | default "IfNotPresent" | quote }}
          {{- if or .Values.openshift.enabled .Values.server.containerSecurityContext }}
          securityContext:
            {{- if .Values.server.containerSecurityContext }}
            {{- toYaml .Values.server.containerSecurityContext | nindent 12 }}
            {{- else if .Values.openshift.enabled }}
            {{- toYaml .Values.openshift.containerSecurityContext | nindent 12 }}
            {{- end }}
          {{- end }}
          {{- if .Values.e2e }}
          volumeMounts:
            - mountPath: /opt/e2e/policy-repo-data
              name: policy-repo-data
              readOnly: true
            - mountPath: /opt/e2e
              name: e2e
          {{- else if .Values.openshift.enabled }}
          volumeMounts:
            - mountPath: /opal/jwks_dir
              name: jwks-dir
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.server.port }}
              protocol: TCP
          env:
            - name: OPAL_POLICY_REPO_URL
              value: {{ .Values.server.policyRepoUrl | quote }}
            - name: OPAL_POLICY_REPO_POLLING_INTERVAL
              value: {{ .Values.server.pollingInterval | quote }}
            {{- if .Values.server.policyRepoClonePath }}
            - name: OPAL_POLICY_REPO_CLONE_PATH
              value: {{ .Values.server.policyRepoClonePath | quote }}
            {{- end }}
            {{- if .Values.server.policyRepoMainBranch }}
            - name: OPAL_POLICY_REPO_MAIN_BRANCH
              value: {{ .Values.server.policyRepoMainBranch | quote }}
            {{- end }}
            - name: UVICORN_NUM_WORKERS
              value: {{ .Values.server.uvicornWorkers | quote }}
            {{- if or .Values.server.dataConfigSources.external_source_url (and .Values.server.dataConfigSources.config .Values.server.dataConfigSources.config.entries) }}
            - name: OPAL_DATA_CONFIG_SOURCES
              value: {{ .Values.server.dataConfigSources | toRawJson | squote }}
            {{- end}}
            {{- if .Values.server.broadcastUri }}
            - name: OPAL_BROADCAST_URI
              value: {{ .Values.server.broadcastUri | quote }}
            {{- else if .Values.server.broadcastPgsql }}
            - name: OPAL_BROADCAST_URI
              value: 'postgres://postgres:postgres@{{ include "opal.pgsqlName" . }}:5432/postgres'
            {{- end }}
            {{- if .Values.server.extraEnv }}
            {{- range $name, $value := .Values.server.extraEnv }}
            - name: {{ $name }}
              value: {{ $value | quote }}
            {{- end }}
            {{- end }}
          {{- if or .Values.server.secrets .Values.server.policyRepoSshKey }}
          envFrom:
          {{- range $name := .Values.server.secrets }}
            - secretRef:
                name: {{ $name }}
          {{- end }}
          {{- if .Values.server.policyRepoSshKey }}
            - secretRef:
                name: {{ include "opal.envSecretsName" . }}
          {{- end }}
          {{- end }}
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: http
            failureThreshold: 5
            initialDelaySeconds: 5
            timeoutSeconds: 10
            periodSeconds: 15

          livenessProbe:
            httpGet:
              path: /healthcheck
              port: http
            failureThreshold: 5
            timeoutSeconds: 10
            periodSeconds: 30
          {{- if .Values.server.resources }}
          resources:
            {{- toYaml .Values.server.resources | nindent 12 }}
          {{- end }}
{{- end }}
{{- end }}