{{- if .Values.client }}
{{- if ne .Values.client.enabled false  }}
{{- $nm := include "opal.clientName" . | quote }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $nm }}
  labels:
    {{- include "opal.clientLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.client.replicas }}
  selector:
    matchLabels:
      {{- include "opal.clientSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "opal.clientLabels" . | nindent 8 }}
    spec:
      {{- with .Values.image.client.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.client.opaStartupData }}
      volumes:
        - name: opa-startup-data
          configMap:
            name: opa-startup-data
            defaultMode: 0444
      {{- end }}
      containers:
        - name: opal-client
          image: {{ include "opal.clientImage" . | quote }}
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: {{ .Values.client.port }}
              protocol: TCP
            - name: opa
              containerPort: {{ .Values.client.opaPort }}
              protocol: TCP
          env:
            - name: UVICORN_NUM_WORKERS
              value: "1"
          {{- if .Values.server }}
            - name: OPAL_SERVER_URL
              value: {{ printf "http://%s:%v" (include "opal.serverName" .) .Values.server.port | quote }}
            {{- if not (or (.Values.server.dataConfigSources.external_source_url) (.Values.server.dataConfigSources.config) ) }}
            - name: OPAL_DATA_UPDATER_ENABLED
              value: "False"
            {{- end }}
          {{- end }}
          {{- if .Values.client.extraEnv }}
          {{- range $name, $value := .Values.client.extraEnv }}
            - name: {{ $name }}
              value: {{ $value | quote }}
          {{- end }}
          {{- end }}
          {{- if .Values.client.secrets }}
          envFrom:
          {{- range $name := .Values.client.secrets }}
            - secretRef:
                name: {{ $name }}
          {{- end }}
          {{- end }}
          {{- if .Values.client.opaStartupData }}
          volumeMounts:
            - mountPath: /opt/opa/startup-data
              name: opa-startup-data
              readOnly: true
          {{- end }}
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: http
            failureThreshold: 5
            initialDelaySeconds: 5
            timeoutSeconds: 10
            periodSeconds: 15

          livenessProbe:
            httpGet:
              path: /healthcheck
              port: http
            failureThreshold: 5
            timeoutSeconds: 10
            periodSeconds: 30
          {{- if .Values.client.resources }}
          resources:
            {{- toYaml .Values.client.resources | nindent 12 }}
          {{- end }}
{{- end }}
{{- end }}
